<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.admin.mapper.SaleListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzj.admin.pojo.SaleList">
        <id column="id" property="id" />
        <result column="amount_paid" property="amountPaid" />
        <result column="amount_payable" property="amountPayable" />
        <result column="remarks" property="remarks" />
        <result column="sale_date" property="saleDate" />
        <result column="sale_number" property="saleNumber" />
        <result column="state" property="state" />
        <result column="user_id" property="userId" />
        <result column="customer_id" property="customerId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, amount_paid, amount_payable, remarks, sale_date, sale_number, state, user_id, customer_id
    </sql>

    <select id="getNextSaleNumber" resultType="java.lang.String">
        select max(sale_number) as saleNumber
        from t_sale_list
        where to_days(sale_date) = to_days(now())

    </select>


    <select id="saleList" resultType="com.lzj.admin.pojo.SaleList">
        select
        sl.*,
        u.user_name AS userName,
        c.name as customerName
        FROM
        t_sale_list sl
        LEFT JOIN t_user u ON sl.user_id = u.id
        LEFT JOIN t_customer c ON sl.customer_id = c.id

        <where>
            <if test="null != saleListQuery.saleNumber and saleListQuery.saleNumber != ''">
                and sl.purchase_number = #{saleListQuery.saleNumber}
            </if>

            <if test="null != saleListQuery.customerId ">
                and sl.customer_id = #{saleListQuery.customerId}
            </if>

            <if test="null != saleListQuery.state">
                and sl.state = #{saleListQuery.state}
            </if>

            <if test="null != saleListQuery.startDate and saleListQuery.startDate != ''">
                and  sl.sale_date &gt;= #{saleListQuery.startDate}
            </if>

            <if test="null != saleListQuery.endDate and saleListQuery.endDate != ''">
                and  sl.sale_date &lt;= #{saleListQuery.endDate}
            </if>

        </where>
    </select>
    <select id="countSaleTotal" resultType="java.lang.Long">
        select
               count(*)
        from t_sale_list sl
        left join t_customer s on sl.customer_id = s.id
        left join t_sale_list_goods slg on sl.id = slg.purchase_list_id
        left join t_goods_type gt on slg.type_id = gt.id
        <where>
            <if test="null != saleListQuery.startDate and saleListQuery.startDate != ''">
                and  sl.sale_date &gt;= #{saleListQuery.startDate}
            </if>

            <if test="null != saleListQuery.endDate and saleListQuery.endDate != ''">
                and  sl.purchase_date &lt;= #{saleListQuery.endDate}
            </if>

            <if test="null != saleListQuery.goodsName and saleListQuery.goodsName != ''">
                and  (
                slg.name like concat('%', #{saleListQuery.goodsName}, '%') or

                slg.code = #{saleListQuery.goodsName}
                )
            </if>

            <if test="null != saleListQuery.typeIds and saleListQuery.typeIds.size>0">
                and slg.type_id in
                <foreach collection="saleListQuery.typeIds" item="typeId" open="(" separator="," close=")">
                    #{typeId}
                </foreach>
            </if>
        </where>

    </select>


    <select id="countSaleList" resultType="com.lzj.admin.model.CountResultModel">
        select
            sl.sale_number as number,
            sl.sale_date as date,
            s.name as name,
            slg.code,
            slg.name as goodsName,
            slg.model,
            slg.unit as unitName,
            slg.price,
            slg.num,
            slg.total,
            gt.name as typeName
        from t_sale_list sl
        left join t_customer s on sl.customer_id = s.id
        left join t_sale_list_goods slg on sl.id = slg.purchase_list_id
        left join t_goods_type gt on slg.type_id = gt.id
        <where>
            <if test="null != saleListQuery.startDate and saleListQuery.startDate != ''">
                and  sl.sale_date &gt;= #{saleListQuery.startDate}
            </if>

            <if test="null != saleListQuery.endDate and saleListQuery.endDate != ''">
                and  sl.purchase_date &lt;= #{saleListQuery.endDate}
            </if>

            <if test="null != saleListQuery.goodsName and saleListQuery.goodsName != ''">
                and  (
                slg.name like concat('%', #{saleListQuery.goodsName}, '%') or

                slg.code = #{saleListQuery.goodsName}
                )
            </if>

            <if test="null != saleListQuery.typeIds and saleListQuery.typeIds.size>0">
                and slg.type_id in
                <foreach collection="saleListQuery.typeIds" item="typeId" open="(" separator="," close=")">
                    #{typeId}
                </foreach>
            </if>
        </where>

        limit #{saleListQuery.index}, #{saleListQuery.limit}


    </select>
    <select id="countDaySale" resultType="java.util.Map">
        select
            sum(t3.purchase_price * t1.num) as amountCost,
            sum(t1.price * t1.num) as amountSale,
            t2.sale_date as sale_date
        from
            t_sale_list_goods t1
                left join t_sale_list t2 on t1.sale_list_id = t2.id
                left join t_goods t3 on t1.goods_id = t3.id

        where t2.sale_date between #{begin} and #{end}
        group by t2.sale_date
    </select>


    <select id="countMonthSale" resultType="java.util.Map">
        select
            sum(t3.purchase_price * t1.num) as amountCost,
            sum(t1.price * t1.num) as amountSale,
            DATE_FORMAT(t2.sale_date, "%Y-%m") as sale_date
        from
            t_sale_list_goods t1
                left join t_sale_list t2 on t1.sale_list_id = t2.id
                left join t_goods t3 on t1.goods_id = t3.id

        where DATE_FORMAT(t2.sale_date, "%Y-%m") between #{begin} and #{end}
        group by DATE_FORMAT(t2.sale_date, "%Y-%m")

    </select>


</mapper>
